.main
    grid-column: content-start / content-end
    grid-row: 2 / 3
    padding: 1.2rem
    &__title-1
        margin-bottom: 2.4rem
    &__link-game
        text-align: center
        text-decoration: none
        
    &__title-game
        padding-top: 2.4rem
        font-size: 5rem
        color: green
.blockPages
    display: grid
    grid-template-columns: 1fr minmax(25rem, 80rem) 1fr
    grid-template-rows: max-content
    &__content
        grid-column: 2 / 3
        display: grid
        grid-template-columns: repeat( auto-fit, minmax(25rem, max-content) )
        grid-template-rows: max-content
        gap: 1.2rem
        justify-content: center
        //margin: 0 auto
        //justify-items: center
.pageItem
    width: 25rem
    height: 18rem
    border: 2px solid black
    border-radius: 1.5rem
    transition: .7s
    &:hover
        transform: scale(1.1)
    &__link
        text-decoration: none
        color: black
    &__name
        padding: .6rem
    &__img
        width: 24.6rem
        height: 14.5rem
        border-bottom-left-radius:  1.5rem
        border-bottom-right-radius:  1.5rem
        z-index: -1